@page "/readtable"
@using BlazorApp.Shared 
@using System.Text.Json
@using Azure.Core.Serialization
@using Newtonsoft.Json;
@inject HttpClient Http

<h1>Read Table Data</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (entities == null)
{
    <p><em>Loading....</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>PartitionKey</th>
                <th>RowKey</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var entity in entities)
    {
        <tr>
            <td>@entity.PartitionKey</td>
            <td>@entity.RowKey</td>
            <td>@entity.Text</td>
        </tr>
    }
    </tbody>
    </table>
}

@code {
    private MyPocoDto[] entities = new MyPocoDto[] { };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            entities = await Http.GetFromJsonAsync<MyPocoDto[]>("/api/ReadTableData");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
